<div class="sticky top-0 group hidden sm:flex sm:w-20 duration-75 hover:w-64 bg-slate-800 min-h-screen p-2 mr-2 flex-col" [ngClass]="{'!w-full !flex !sm:hidden': collapse}">
    <div class="flex sm:hidden self-center text-2xl text-white group-hover:rotate-90 duration-500 group-hover:self-end" [ngClass]="{'!self-end !rotate-90': collapse}">
        <button class="text-white" (click)="closeMenu()"><i class="fas fa-times text-3xl"></i></button>
    </div>
    <a class="flex w-full justify-start items-center h-14 mt-3 font-semibold text-white rounded transition-all duration-150 px-3 cursor-pointer group-hover:text-4xl group-hover:justify-center group-hover:duration-500" [ngClass]="{'!text-4xl !justify-center !duration-500': collapse}">
        LOGO
    </a>
    <a class="flex w-full justify-start items-center h-14 mt-3 transition-colors duration-700 hover:bg-slate-900 rounded px-3 cursor-pointer" routerLink="perfil" routerLinkActive="border-r-2 border-r-teal-500">
        <div class="text-white text-3xl font-semibold w-10 h-10 rounded bg-teal-700 flex justify-center items-center bg-[url('src/assets/img/me.jpeg')] bg-cover"></div>
        <a class="px-14 absolute text-white font-semibold hidden group-hover:flex overflow-hidden" [ngClass]="{'!flex': collapse}">Mario Ruano</a>
    </a>
    <div class="w-full h-0.5 mt-2 bg-gray-700"></div>
    <a class="flex w-full justify-start items-center h-9 mt-3 transition-colors duration-700 hover:bg-slate-900 rounded px-3 cursor-pointer" routerLink="dashboard" routerLinkActive="border-r-2 border-r-teal-500" (click)="collapse=false">
        <div class="text-white text-xl font-semibold w-10 h-10 rounded flex justify-center items-center"><i class="fas fa-tachometer-alt"></i></div>
        <span class="px-14 text-sm absolute text-white font-semibold hidden group-hover:flex overflow-hidden" [ngClass]="{'!flex': collapse}" >Dashboard</span>
    </a>
    <a class="flex w-full justify-start items-center h-9 mt-1 transition-colors duration-700 hover:bg-slate-900 rounded px-3 cursor-pointer" routerLinkActive="border-r-2 border-r-teal-500" (click)="collapse=false">
        <div class="text-white text-xl font-semibold w-10 h-10 rounded flex justify-center items-center"><i class="fas fa-folder"></i></div>
        <span class="px-14 text-sm absolute text-white font-semibold hidden group-hover:flex overflow-hidden" [ngClass]="{'!flex': collapse}">Icons</span>
    </a>
    <div class="text-slate-500 h-10 m-1 flex items-center gap-2"><div class="hidden group-hover:flex w-full items-center overflow-hidden justify-center" [ngClass]="{'!flex': collapse}">Separador</div> <div class="w-full h-0.5 mt-2 bg-gray-700"></div></div>
    <div class="group-submenu flex flex-wrap flex-row w-full justify-start items-center transition-colors duration-500 hover:bg-slate-900 rounded px-3 cursor-pointer overflow-hidden" routerLinkActive="border-r-2 border-r-teal-500">
        <div class="flex items-center">
            <div class="relative text-white rounded flex justify-center items-center px-2 w-10 h-10 text-xl"> 
                <div class="w-2.5 h-2.5 bg-red-600 rounded-full absolute bottom-2 right-2 z-50 group-submenu-hover:bg-orange-600 text-xs text-center"></div> 
                <div class="w-2.5 h-2.5 bg-red-600 rounded-full  animate-ping absolute bottom-2 right-2 z-50 group-submenu-hover:bg-orange-800"></div> 
                <i class="fas fa-bell"></i>
            </div>
            <span class="px-2 text-sm text-white font-semibold hidden group-hover:flex" [ngClass]="{'!flex': collapse}">Actividad</span>
        </div>
    </div>
    <div class="group-submenu flex flex-wrap flex-row w-full justify-start items-center transition-colors duration-500 hover:bg-slate-900 rounded px-3 cursor-pointer overflow-hidden" routerLinkActive="border-r-2 border-r-teal-500">
        <div class="flex items-center">
            <div class="text-white rounded flex justify-center items-center px-2 w-10 h-10 text-xl"><i class="fas fa-shopping-cart"></i></div>
            <span class="px-2 text-sm text-white font-semibold hidden group-hover:flex" [ngClass]="{'!flex': collapse}">Ventas</span>
        </div>
    </div>
    <div class="group-submenu flex flex-wrap flex-row w-full justify-start items-center transition-colors duration-500 hover:bg-slate-900 rounded px-3 cursor-pointer overflow-hidden" [ngClass]="{'!bg-slate-900': collapse}" routerLinkActive="border-r-2 border-r-teal-500">
        <div class="flex items-center">
            <div class="text-white rounded flex justify-center items-center px-2 w-10 h-10 text-xl"><i class="fas fa-folder group-submenu-hover:hidden"></i> <i class="fas fa-folder-open hidden group-submenu-hover:flex"></i></div>
            <span class="px-2 text-sm text-white font-semibold hidden group-hover:flex" [ngClass]="{'!flex': collapse}">Proyectos</span>
        </div>
        <ul class="w-full text-white px-2 font-sans hidden duration-500 group-submenu-hover:flex flex-col gap-y-1 mb-3 overflow-hidden" [ngClass]="{'!flex': collapse}">
            <li class="px-5 flex items-center justify-start gap-4 py-0.5 hover:bg-slate-700 rounded"> <div class="h-2.5 w-2.5 rounded-full bg-orange-700"></div> <div>Proyecto 1</div></li>
            <li class="px-5 flex items-center justify-start gap-4 py-0.5 hover:bg-slate-700 rounded"> <div class="h-2.5 w-2.5 rounded-full bg-green-700"></div> <div>Proyecto 1</div></li>
            <li class="px-5 flex items-center justify-start gap-4 py-0.5 hover:bg-slate-700 rounded"> <div class="h-2.5 w-2.5 rounded-full bg-teal-500"></div> <div>Proyecto 1</div></li>
        </ul> 
    </div>
    <div class="text-slate-500 h-10 m-1 flex items-center gap-2"><div class="hidden group-hover:flex w-full items-center overflow-hidden justify-center" [ngClass]="{'!flex': collapse}">Separador</div> <div class="w-full h-0.5 mt-2 bg-gray-700"></div></div>
    <div class="group-submenu flex flex-wrap flex-row w-full justify-start items-center transition-colors duration-500 hover:bg-slate-900 rounded px-3 cursor-pointer overflow-hidden" routerLinkActive="border-r-2 border-r-teal-500">
        <div class="flex items-center">
            <div class="text-white rounded flex justify-center items-center px-2 w-10 h-10 text-xl"><i class="fas fa-user group-submenu-hover:hidden"></i> <i class="fas fa-users hidden group-submenu-hover:flex"></i></div>
            <span class="px-2 text-sm text-white font-semibold hidden group-hover:flex" [ngClass]="{'!flex': collapse}">Clientes</span>
        </div>
    </div>
    <div class="group-submenu flex flex-wrap flex-row w-full justify-start items-center transition-colors duration-500 hover:bg-slate-900 rounded px-3 cursor-pointer overflow-hidden mb-16" routerLinkActive="border-r-2 border-r-teal-500">
        <div class="flex items-center">
            <div class="text-white rounded flex justify-center items-center px-2 w-10 h-10 text-xl"><i class="fas fa-pallet group-submenu-hover:hidden"></i> <i class="fas fa-boxes hidden group-submenu-hover:flex"></i></div>
            <span class="px-2 text-sm text-white font-semibold hidden group-hover:flex" [ngClass]="{'!flex': collapse}">Inventario</span>
        </div>
    </div>
    <div class="group-submenu p-2 absolute justify-start left-0 bottom-0 flex flex-wrap flex-row w-full items-center transition-colors duration-500 hover:bg-slate-900 rounded cursor-pointer overflow-hidden" routerLinkActive="border-r-2 border-r-teal-500">
        <div class="flex items-center justify-center px-3">
            <div class="text-white rounded flex justify-center items-center w-10 h-10 text-xl"><i class="fas fa-cog"></i></div>
            <span class="px-2 text-base text-white font-semibold hidden group-hover:flex" [ngClass]="{'!flex': collapse}">Configuración</span>
        </div>
    </div>
</div>
