<div  class="flex justify-center pt-16 pb-40 items-center">
    <form class="bg-slate-800 border border-teal-400 border-opacity-30 rounded-md p-12 mt-16 flex flex-col justify-center items-center w-5/6 md:w-5/12 2xl:w-3/12">
        <h1 class="text-white font-medium text-2xl mb-2">Registrate</h1>

        <label for="username" class="flex border-slate-300 bg-slate-200 rounded my-2 w-full">
            <span class="flex items-center justify-center px-3"><i class="fas fa-user text-slate-400"></i></span>
            <input class="
            px-3 py-2 rounded-md bg-slate-100 border shadow-md placeholder-slate-400 border-none w-full
            focus:outline-none " id="username" type="text" placeholder="Usuario"> 
        </label>

        <label for="email" class="flex border-slate-300 bg-slate-200 rounded my-2 w-full">
            <span class="flex items-center justify-center px-3"><i class="fas fa-at text-slate-400"></i></span>
            <input class="
            px-3 py-2 rounded-md bg-slate-100 border shadow-sm placeholder-slate-400 border-none w-full
            focus:outline-none " type="email" placeholder="Correo electronico"> 
        </label>
        
        <label for="password" class="flex border-slate-300 bg-slate-200 rounded my-1 w-full">
            <span class="flex items-center justify-center px-3"><i class="fas fa-key text-slate-400"></i></span>
            <input class="
            px-3 py-2 rounded-md bg-slate-100 border shadow-sm placeholder-slate-400 border-none w-full
            focus:outline-none " id="password" type="password" placeholder="Contraseña"> 
        </label>
        <label class="text-white text-xs italic font-semibold w-full mb-1">password strength: <span class="text-teal-400 not-italic">strong</span></label>

        <label for="password" class="flex border-slate-300 bg-slate-200 rounded my-2 w-full">
            <span class="flex items-center justify-center px-3"><i class="fas fa-key text-slate-400"></i></span>
            <input class="
            px-3 py-2 rounded-md bg-slate-100 border shadow-sm placeholder-slate-400 border-none w-full placeholder:italic
            focus:outline-none " id="password" type="password" placeholder="Confirma la contraseña"> 
        </label>
        
        <button class="bg-teal-600 px-2 py-3 rounded-md block w-full mt-2 text-white 
        hover:bg-teal-700 hover:font-semibold hover:ring hover:ring-teal-500
        focus:bg-teal-900 focus:ring focus:ring-teal-700
        ">Ingresar</button>
        <hr class="bg-teal-100 h-0.5 border-none w-60 mt-3">
        <a routerLink="/login" class="text-white font-medium text-sm mt-3 hover:text-teal-500">Inicia sesión aquí</a>
    </form>
</div>
