<div class="rounded-md grid grid-cols-1 lg:grid-cols-2 gap-4 px-10 ">
    <div>
        <div class=" bg-slate-700 px-3 rounded-md">
            <div class="text-3xl text-white font-bold p-3 flex justify-between">
                <span>Actividad</span>
                <button class="bg-slate-600 hover:bg-slate-500 rounded-md mx-2 px-3  text-sm text-white flex items-center">Limpiar<i class="fas fa-trash mx-2"></i> </button>
            </div>
            <div class="flex flex-col">
                <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex items-center">
                    <div class="h-10 w-10 rounded-full bg-slate-600 flex items-center justify-center mx-2">
                        <i class="fas fa-video text-xl"></i>
                    </div>
                    <div class="text-gray-400">
                        Se te ha asignado una reunión con Walter tema: <span class="font-semibold text-white"> Levantamiento de ambientes</span>
                        <span class="bg-green-600 rounded-full mx-2 px-3  text-sm text-white">Nuevo</span>
                    </div>    
                </div>
                <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex items-center">
                    <div class="h-10 w-10 rounded-full bg-slate-600 flex items-center justify-center mx-2">
                        <i class="fas fa-video text-xl"></i>
                    </div>
                    <div class="text-gray-400">
                        Se te ha asignado una reunión con tema: <span class="font-semibold text-white">Daily Scrum a las 15:00 hrs</span> 
                        <span class="bg-green-600 rounded-full mx-2 px-3  text-sm text-white">Nuevo</span>
                    </div>    
                </div>
                <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex items-center">
                    <div class="h-10 w-10 rounded-full bg-slate-600 flex items-center justify-center mx-2">
                        <i class="fas fa-tasks text-xl"></i>
                    </div>
                    <div class="text-gray-400">
                        Tienes una historia nueva: <span class="font-semibold text-white"> Desarrollo manejo de errores</span>
                    </div>    
                </div>
                <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex items-center">
                    <div class="h-10 w-10 rounded-full bg-slate-600 flex items-center justify-center mx-2">
                        <i class="fas fa-check text-xl"></i>
                    </div>
                    <div class="text-gray-400">
                        Tu historia <span class="font-semibold text-white">Mejora interfaz POS</span> ha sido certificado
                    </div>    
                </div>
                <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex items-center">
                    <div class="h-10 w-10 rounded-full bg-slate-600 flex items-center justify-center mx-2">
                        <i class="fas fa-laptop text-xl"></i>
                    </div>
                    <div class="text-gray-400">
                        Tu historia <span class="font-semibold text-white">Mejora reinicio de contraseña</span> esta en produccion
                    </div>    
                </div>
                <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex items-center">
                    <div class="h-10 w-10 rounded-full bg-slate-600 flex items-center justify-center mx-2">
                        <i class="fas fa-video text-xl"></i>
                    </div>
                    <div class="text-gray-400">
                        Se te ha asignado una reunión con tema: <span class="font-semibold text-white">Junta con equipo de ventas hoy a las 12:30 hrs</span>
                        
                    </div>    
                </div>
                <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex items-center">
                    <div class="h-10 w-10 rounded-full bg-slate-600 flex items-center justify-center mx-2">
                        <i class="fas fa-video text-xl"></i>
                    </div>
                    <div class="text-gray-400">
                        Se te ha asignado una reunión con tema: Junta con Clienta
                    </div>    
                </div>
                <div class="p-3 mb-4 rounded-md bg-slate-800/50 text-white flex items-center cursor-pointer">                    
                    <div class="text-gray-400">
                        Cargar mas ...
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="bg-slate-700 px-3 rounded-md">
            <div class="text-3xl text-white font-bold p-3">
                Reuniones
            </div>
            <div class="flex flex-col gap-2 pb-3">
                <div class="group">
                    <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-900 text-white flex flex-col">
                        <div class="flex items-center">
                            Ahora
                            <div class="relative text-white rounded flex justify-center items-center px-2 text-xl">
                                <div class="w-2.5 h-2.5 bg-red-600 rounded-full absolute z-50 group-hover:bg-orange-600 text-xs text-center"></div>
                                <div class="w-2.5 h-2.5 bg-red-600 rounded-full absolute z-50 group-hover:bg-orange-800 animate-ping"></div>
                            </div>
                            <div class="bg-gray-600 rounded-full px-3 text-sm">
                                Virtual <i class="fas fa-video"></i>
                            </div>
                        </div>
                        <p class="pl-7 text-slate-400/95">Junta con equipo de ventas</p>
                    </div>
                    
                </div>
                <div class="group">
                    <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex flex-col">
                        <div>
                            <span class="font-bold">  Hoy a las 12:30 hrs </span>
                            <span class="bg-gray-600 rounded-full px-3 text-sm">
                                Fisica <i class="fas fa-door-closed"></i>
                            </span>
                        </div>
                        <p class="pl-7 text-slate-400/95">Junta con cliente</p>
                    </div>
                </div>
                <div>
                    <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex flex-col">
                        <div>
                            <span class="font-bold">  Hoy a las 19:30 hrs </span>
                            <span class="bg-gray-600 rounded-full px-3 text-sm">
                                Virtual <i class="fas fa-video"></i>
                            </span>
                        </div>
                        <p class="pl-7 text-slate-400/95">Actualizacion de tareas</p>
                    </div>
                </div>
                <div>
                    <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex flex-col">
                        <div>
                            <span class="font-bold"> Mañana a las 13:00 hrs </span>
                            <span class="bg-gray-600 rounded-full px-3 text-sm">
                                Virtual <i class="fas fa-video"></i>
                            </span>
                        </div>
                        <p class="pl-7 text-slate-400/95">Daily SCRUM</p>
                    </div>
                </div>
                <div>
                    <div class="ring-1 ring-slate-900 p-3 mb-4 rounded-md bg-slate-800 text-white flex flex-col">
                        <div>
                            <span class="font-bold"> Mañana a las 15:00 hrs </span>
                            <span class="bg-gray-600 rounded-full px-3 text-sm">
                                Virtual <i class="fas fa-video"></i>
                            </span>
                        </div>
                        <p class="pl-7 text-slate-400/95">Levantamiento de ambientes con Walter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
