<div class="relative w-full flex justify-between flex-wrap bg-slate-700 sm:bg-transparent backdrop-blur-3xl">
   <div><button class="flex sm:hidden items-center justify-center p-3 " (click)="collapse=!collapse"><i class="fas fa-bars text-3xl text-white"></i></button></div>
   <div class="px-1">
      <a class="flex w-full justify-start items-center h-14 duration-700 rounded px-3 cursor-pointer hover:bg-slate-800" routerLink="perfil" routerLinkActive="border-b-2 border-b-teal-700 hidden">
         <div class="text-white text-3xl font-semibold w-10 h-10 rounded bg-teal-700 flex justify-center items-center bg-[url('src/assets/img/me.jpeg')] bg-cover"></div>
      </a>
   </div>
</div>
<div class="w-full sm:hidden block top-0">
   <admin-sidebar [collapse]="collapse" (collapseResponse)="collapse=$event"></admin-sidebar>
</div>
