<div class="flex justify-center items-center text-4xl font-bold text-white"> Projecto {{this.project}} </div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-6 min-h-[75vh]">
  <div class="flex flex-col justify-center group">
    <div class="text-3xl text-white flex justify-center p-3 bg-slate-800/90 font-bold rounded-md">To Do</div>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doingList, doneList, qaList]"
      class="example-list flex flex-col gap-0.5 p-1 bg-slate-700 h-full box-border"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box bg-teal-800 ring-1 ring-slate-700/90 rounded-sm hover:cursor-move p-3 shadow-md text-white flex flex-col" 
        *ngFor="let item of todo" cdkDrag>
        <span class="font-semibold">{{ item.title }}</span>
        
        <div class="flex flex-row justify-between">
          <div class="font-semibold">
            <span *ngFor="let tag of item.tags"  
              class="rounded-full mx-1 px-2  text-sm text-white {{tag.color}}"> 
              {{tag.title}} 
            </span>
          </div>
          <span class="self-end">{{ item.ETA }}</span>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="flex flex-col justify-center">
    <div class="text-3xl text-white flex justify-center p-3 bg-slate-800/90 font-bold rounded-md">Doing</div>
  
    <div
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[todoList, doneList, qaList]"
      class="example-list flex flex-col gap-0.5 p-1 bg-slate-700 h-full"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box bg-teal-800 ring-1 ring-slate-700/90 rounded-sm hover:cursor-move p-3 shadow-md text-white flex flex-col" 
      *ngFor="let item of doing" cdkDrag>
        <span class="font-semibold">{{ item.title }}</span>
        
        <div class="flex flex-row justify-between">
          <div class="font-semibold">
            <span *ngFor="let tag of item.tags"  
              class="rounded-full mx-1 px-2  text-sm text-white {{tag.color}}"> 
              {{tag.title}} 
            </span>
          </div>
          <span class="self-end">{{ item.ETA }}</span>
        </div>
      
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center">
    <div class="text-3xl text-white flex justify-center p-3 bg-slate-800/90 font-bold rounded-md">Done 🎉</div>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, doingList, qaList]"
      class="example-list flex flex-col gap-0.5 p-1 bg-slate-700 h-full"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box bg-teal-800 ring-1 ring-slate-700/90 rounded-sm hover:cursor-move p-3 shadow-md text-white flex flex-col" 
      *ngFor="let item of done" cdkDrag>
        <span class="font-semibold">{{ item.title }}</span>
        
        <div class="flex flex-row justify-between">
          <div class="font-semibold">
            <span *ngFor="let tag of item.tags"  
              class="rounded-full mx-1 px-2  text-sm text-white {{tag.color}}"> 
              {{tag.title}} 
            </span>
          </div>
          <span class="self-end">{{ item.ETA }}</span>
        </div>
      
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center">
    <div class="text-3xl text-white flex justify-center p-3 bg-slate-800/90 font-bold rounded-md">QA</div>
  
    <div
      cdkDropList
      #qaList="cdkDropList"
      [cdkDropListData]="qa"
      [cdkDropListConnectedTo]="[todoList, doingList, doneList]"
      class="example-list flex flex-col gap-0.5 p-1 bg-slate-700 h-full"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box bg-teal-800 ring-1 ring-slate-700/90 rounded-sm hover:cursor-move p-3 shadow-md text-white flex flex-col" 
      *ngFor="let item of qa" cdkDrag>
        <span class="font-semibold">{{ item.title }}</span>
        
        <div class="flex flex-row justify-between">
          <div class="font-semibold">
            <span *ngFor="let tag of item.tags"  
              class="rounded-full mx-1 px-2  text-sm text-white {{tag.color}}"> 
              {{tag.title}} 
            </span>
          </div>
          <span class="self-end">{{ item.ETA }}</span>
        </div>
      
      </div>
    </div>
  </div>
</div>
