<div class="container mx-auto flex flex-col justify-center items-center">
    <div class="flex w-full flex-wrap">
        <div class="w-full sm:flex-1 m-2 p-3 bg-slate-500  rounded flex flex-col box-border text-white flex-wrap group">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Trafico</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-chart-area rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4 group-hover:animate-bounce"></i><span class="text-green-500 px-3 font-bold text-2xl">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
        <div class="w-full sm:flex-1 m-2 p-3 bg-rose-800 rounded flex flex-col box-border text-white flex-wrap group">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Ventas</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-shopping-basket rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4 group-hover:animate-bounce"></i><span class="text-green-500 px-3 font-bold text-2xl">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
        <div class="w-full sm:flex-1 m-2 p-3 bg-indigo-500 rounded flex flex-col box-border text-white flex-wrap group">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Visitas</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-eye rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4 group-hover:animate-bounce"></i><span class="text-green-500 px-3 font-bold text-2xl">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
        <div class="w-full sm:flex-1 m-2 p-3 bg-amber-700  rounded flex flex-col box-border text-white flex-wrap group">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Clientes</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-user-tie rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4 group-hover:animate-bounce"></i><span class="text-green-500 px-3 font-bold text-2xl ">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
    </div>
    <div class="flex w-full flex-wrap">
        <div class="w-full sm:flex-1 box-border p-3">
            <div class="w-full p-3 bg-slate-800 rounded flex flex-col justify-center items-center text-white gap-4 h-min">
                <div><span class="font-semibold text-2xl">Proyectos</span>  </div>
                <div class="w-full flex flex-col gap-4 box-border m-3">
                    <div class="bg-orange-700 p-2 rounded-md hover:bg-orange-500 transition-colors duration-300 cursor-pointer">
                        <span class="mx-2"> <i class="fas fa-code"></i> Proyecto 1 </span>
                    </div>
                    <div class="bg-green-700 p-2 rounded-md hover:bg-green-500 transition-colors duration-300 cursor-pointer">
                        <span class="mx-2"> <i class="fas fa-code-branch"></i> Proyecto 2 </span>
                    </div>
                    <div class="bg-cyan-700 p-2 rounded-md hover:bg-cyan-400 transition-colors duration-300 cursor-pointer">
                        <span class="mx-2"> <i class="fas fa-terminal"></i> Proyecto 3 </span>
                    </div>
                </div>
            </div>
            <div class="w-full p-3 mt-5 bg-slate-800 rounded justify-center items-center text-white gap-4 h-min">
                <div class="flex justify-center mb-4"><span class="font-semibold text-2xl">Trafico</span>  </div>
                <div class="px-2">
                    <table class="table-fixed w-full border-collapse border border-slate-700">
                        <thead>
                            <tr class="bg-slate-900 rounded-sm">
                                <th class="text-left border-b border-slate-600 p-4">Red social</th>
                                <th class="text-left border-b border-slate-600 p-4">Visitantes</th>
                                <th class="text-left border-b border-slate-600"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-b border-slate-700 p-4 text-gray-300">Facebook</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">1500</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">
                                    30% <div class="inline-flex h-2 w-3/12 bg-red-300 rounded-full mr-2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-b border-slate-700 p-4 text-gray-300">Twitter</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">200</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">
                                    10% <div class="inline-flex h-2 w-1/12 bg-blue-300 rounded-full mr-2"></div>
                                </td>
                                
                            </tr>
                            <tr>
                                <td class="border-b border-slate-700 p-4 text-gray-300">Instagram</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">300</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">
                                    50% <div class="inline-flex h-2 w-6/12 bg-green-300 rounded-full mr-2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-b border-slate-700 p-4 text-gray-300">Twitter</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">900</td>
                                <td class="border-b border-slate-700 p-4 text-gray-300">
                                    90% <div class="inline-flex h-2 w-8/12 bg-yellow-300 rounded-full mr-2"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="w-full sm:flex-1 box-border p-3">
            <div class="w-full p-3 bg-slate-800 rounded flex flex-col justify-center items-center text-white gap-4">
                <div><span class="font-semibold text-2xl">TO DO</span>  </div>
                <div class="w-full flex flex-col gap-4 box-border m-3">
                    <div class="group p-4 rounded-md transition-colors duration-300 cursor-pointer flex flex-col px-5 bg-slate-900 ring-1 ring-cyan-300 hover:bg-cyan-600">
                        <span class="font-bold">Tarea 1</span>  
                        <p class="text-gray-300 group-hover:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda qui dolorem quae fugiat quia voluptatem, aperiam explicabo ipsum odio</p>
                    </div>
                    <div class="group p-4 rounded-md transition-colors duration-300 cursor-pointer flex flex-col px-5 bg-slate-900 ring-1 ring-cyan-300 hover:bg-cyan-600">
                        <span class="font-bold">Tarea 1</span>  
                        <p class="text-gray-300 group-hover:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda qui dolorem quae fugiat quia voluptatem, aperiam explicabo ipsum odio</p>
                    </div>
                    <div class="group p-4 rounded-md transition-colors duration-300 cursor-pointer flex flex-col px-5 bg-slate-900 ring-1 ring-cyan-300 hover:bg-cyan-600">
                        <span class="font-bold">Tarea 1</span>  
                        <p class="text-gray-300 group-hover:text-white">Lorem ipsum dolor sit amet consectetur </p>
                    </div>
                    <div class="group p-4 rounded-md transition-colors duration-300 cursor-pointer flex flex-col px-5 bg-slate-900 ring-1 ring-cyan-300 hover:bg-cyan-600">
                        <span class="font-bold">Tarea 1</span>  
                        <p class="text-gray-300 group-hover:text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda qui </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>