<div class="container mx-auto flex flex-col justify-center items-center">
    <div class="flex w-full flex-wrap">
        <div class="w-full sm:flex-1 m-2 p-3 bg-slate-500  rounded flex flex-col box-border text-white flex-wrap">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Trafico</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-chart-area rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4"></i><span class="text-green-500 px-3 font-bold text-2xl">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
        <div class="w-full sm:flex-1 m-2 p-3 bg-rose-800 rounded flex flex-col box-border text-white flex-wrap">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Ventas</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-shopping-basket rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4"></i><span class="text-green-500 px-3 font-bold text-2xl">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
        <div class="w-full sm:flex-1 m-2 p-3 bg-indigo-500 rounded flex flex-col box-border text-white flex-wrap">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Visitas</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-eye rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4"></i><span class="text-green-500 px-3 font-bold text-2xl">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
        <div class="w-full sm:flex-1 m-2 p-3 bg-amber-700  rounded flex flex-col box-border text-white flex-wrap">
            <div class="w-full flex flex-row">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-2xl">Clientes</span>
                    <span class="text-3xl font-bold">123,456</span>
                </div>
                <div class="flex flex-col items-end text-5xl justify-center w-full">
                    <i class="fas fa-user-tie rounded-full bg-slate-900 p-4 text-white"></i>
                </div>
            </div>
            <div class="w-full flex flex-row pt-3 items-center">
                <i class="fas fa-arrow-up text-green-500 text-3xl px-4"></i><span class="text-green-500 px-3 font-bold text-2xl ">3.48%</span><span class="text-base">Desde el mes pasado</span>
            </div>
        </div>
    </div>
</div>
